PROJECT_NAME="Hotel Booking System API"
VERSION="1.0.0"
API_V1_STR="/api/v1"
MONGODB_URL="mongodb://localhost:27017"
DATABASE_NAME="hotel_booking_db"
JWT_SECRET_KEY="07b5aad29c5a19a5b1e3229955264b9bff4b05d58408bab02829bd1c15b60d16"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=10080
ADMIN_NAME="System Admin"
ADMIN_EMAIL="admin@grandhotel.com"
ADMIN_PASSWORD="Admin@123"
